# Dependencias básicas para Django
Django==4.2
python-dotenv==1.1.0

# Conversión de documentos
pdf2docx==0.5.8

# Servidor web para producción
gunicorn==21.2.0

# Archivos estáticos
whitenoise==6.5.0
